<div class="container">
<div class="row" ng-controller="blogController">
<form class="form-horizontal" role="form" ng-submit="save()" method="get">
  <!-- Text input-->
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" name="title" style="width: 100%;" ng-model="form.title" type="text" placeholder="title" class="form-control input-md" required>  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label for="summary">Summary</label>
      <textarea required class="form-control" id="summary" ng-model="form.summary" name="summary"></textarea>
  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label for="description">Description</label>
      <text-angular ng-model="form.description"></text-angular>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label for="singlebutton"></label>
       <input type="submit" class="btn btn-primary" value="Save" />
  </div>

</form>
</div>
</div>